

#logo {
  height: 45px;
}
#topbit {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif !important;
  color: black;
  margin-top: 6.5%;
  background: #2e4bb2;
  padding-top: 4%;
  padding-bottom: 4%;
  border: 5px solid #383838;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 15px 10px rgba(0,0,0,.4);
  border-radius: 25px;
}
#midbit {
  text-align: center;
  color: black;
  margin-top: 2%;
  background: #2e4bb2;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 5px solid #383838;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  box-shadow: 15px 10px rgba(0,0,0,.4)
}

#midbit p{
  font-size: 18pt;
  padding: 0 10% 0 10%;
}

body{
  background: url(../bgphoto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  #topbit {
    width: 95%;
  }
}
